{% load static %}

<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{% static 'MainProject/css/bootstrap/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'MainProject/css/main.css' %}">

	<title>{% block title %}{% endblock %}</title>
</head>

<body>
	<header>
		<nav class="navbar navbar-expand-lg color-main">
			<div class="container-fluid">
				<a class="navbar-brand color-button" href="#">Лого</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item">
							<a class="nav-link " aria-current="page" href="{% url 'home' %}">Дом</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'gateway_all' %}">Голосовые шлюзы</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'gateway_create' %}">Добавить ГШ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'home' %}">Админка</a>
						</li>
					</ul>
					<form class="d-flex" role="search">
						<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
	</header>

	<section>
		<div class="row">
			<div class="col-lg-2 p-0 left-column color-second text-center ">
                <div class="card m-2 p-2 left-section-card" >
                    <p><a href="{% url 'gateway_all' %}">Таблица Шлюзов</a><a href="{% url 'gateway_create' %}" style="margin-left: 1em">Добавить</a></p>
                    <p><a href="{% url 'type_all' %}">Таблица Типов</a><a href="{% url 'type_create' %}" style="margin-left: 1em">Добавить</a></p>
                    <p><a href="{% url 'ports_all' %}">Таблица портов</a><a href="{% url 'ports_create' %}" style="margin-left: 1em">Добавить</a></p>
                </div>

			</div>
			<div class="col-lg-9 p-0 center-colum">
                <div class="card color-second mt-2 ms-2 p-3">
                    {% block content %}
                    
                    {% endblock %}
                </div>
			</div>	
		</div>
	</section>

	<footer>
        <footer class="d-flex flex-wrap justify-content-between align-items-center border-top">
            <p class="col-md-4 mb-0 text-muted">&copy; 2022 Company, Inc</p>
        
            <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
            </a>
        
            <ul class="nav col-md-4 justify-content-end">
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
            </ul>
          </footer>
	</footer>

</body>

</html>