{% extends 'MainProject/main.html' %}

{% block title %}Content{% endblock %}

{% block content %}
<form action="{{ data.get_delete_url }}" method="post">
    {% csrf_token %}
    <div class="card color-card mt-3" style="max-width: 30rem;">
        <div class="card-header">Вы точно хотите удалить <b>{{ data.name_gw }}</b> ???</div>
        <div class="card-body">
            <h6 class="card-title">{{ data.type }}</h6>
            <p class="card-text">ip адресс - {{ data.ip }}<br> MAC адресс - {{ data.mac }}</p>
            <a href="{{ data.get_absolute_url }}" class="btn color-button">Вернуться</a>
            <button method="submit" class="btn btn-danger">Удалить</button>
        </div>
    </div>
</form>
{% endblock %}