{% extends 'MainProject/main.html' %}

{% block title %}Добавление ГШ{% endblock %}

{% block content %}

<form action="{{ form.get_update_url }}" method="post">
  <div class="card color-card mt-3" style="max-width: 35rem;">
    <div class="card-header">Введите конфигурацию</div>
    <div class="card-body ">
      <div class="row">
        {% csrf_token %}
          {% for el in form %}
          {% if el.errors %}
          <div class="alert alert-danger my-0">
            {{ el.errors }}
          </div>
          {% endif %}
        {% endfor %}

        <div class="col-lg-6 create-card">
          <p>Название<br>{{ form.name_gw }}</p>
          <p>Тип Конфигурации<br>{{ form.type }}</p>
          <p>Ip адресс<br>{{ form.ip }}</p>
          <p class="alert alert-danger my-0">МАК не проверяеться!!!</p>
          <p>MAC адресс<br>{{ form.mac }}</p>
        </div>
        <!-- <div class="col-lg-6 create-card">
          <p>логин<br>{{ form.login1 }}</p>
          <p>пароль<br>{{ form.password1 }}</p>
          <p>логин<br>{{ form.login2 }}</p>
          <p>пароль<br>{{ form.password2 }}</p>
        </div>
        <p>Коментарий<br>{{ form.description }}</p> -->

        <button type="submit" class="btn color-button">Сохранить</button>
      </div>
    </div>
  </div>
</form>




{% endblock %}